body {
    padding: 0;
    margin: 0;
    background-color: #454d6b;
}

div {
    text-align: center;
}

.title-login {
    background-color: red;
    text-align: center;
}

.form-group {
    align-self: center;
    position: absolute;
    width: 400px;
    bottom: 100px;
    height: 250px;
    left: 450px;
    top: 120px;
    background: #CDCDCD;
    border-radius: 39px;
}